.newTask {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.687rem;
}

.newTask form {
  display: flex;
  gap: 0.5rem;
}

.newTask form textarea {
  height: 3.374rem;
  padding: 1rem;
  border-radius: 8px;
  width: 40rem;
  background: var(--gray-500);
  color: var(--gray-300);
  border: solid 1px var(--gray-700);
}

.buttonSubmit {
  cursor: pointer;
  padding: 1rem;
  border-radius: 8px;

  background: var(--blue-700);
  border: 0;

  font-weight: 700;

  color: var(--gray-100);

  transition: 0.2s;
}

.buttonSubmit div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.buttonSubmit:hover {
  background: var(--blue-300);
}