.content {
  display: block;
  margin: 4rem 15rem 0rem 15rem;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.tasks {
  display: flex;
  gap: 0.5rem;
}

.tasksCreatedText {
  font-weight: 700;
  color: var(--blue-300);
}

.counter {
  background-color: var(--gray-400);
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 8px;
  color: var(--gray-300);
  font-weight: 700;
}

.tasksFinishedText{
  font-weight: 700;
  color: var(--purple-300);
}

.taskOff {
  border-radius: 8px;
  border-top: solid 1px var(--gray-400);
}

.clipBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0 0 0;
  margin-bottom: 1rem;
  color: var(--gray-400);
}

.taskOffStrong {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-400);
}

.taskOffSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-400);
}

.newTask {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.687rem;
}

.newTask form {
  display: flex;
  gap: 0.5rem;
}

.newTask form textarea {
  height: 3.374rem;
  padding: 1rem;
  border-radius: 8px;
  width: 40rem;
  background: var(--gray-500);
  color: var(--gray-300);
  border: solid 1px var(--gray-700);
}

.buttonSubmit {
  cursor: pointer;
  padding: 1rem;
  border-radius: 8px;

  background: var(--blue-700);
  border: 0;

  font-weight: 700;

  color: var(--gray-100);

  transition: 0.2s;
}

.buttonSubmit div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.buttonSubmit:hover {
  background: var(--blue-300);
}